<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.github.Al-Hussein-96.RxZebraScanner">

    <uses-permission android:name="com.symbol.emdk.permission.EMDK" />


    <application>
        <uses-library
            android:name="com.symbol.emdk"
            android:required="false" />
    </application>

</manifest>